langchain
langchain-community
ipykernel
python-dotenv
beautifulsoup4
arxiv
wikipedia
pypdf
langchain-text-splitters
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
torchvision
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
langchain_chroma
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface-hub